__pycache__
*.swp
build/
dist/
test.spec
parse-nagios-status.spec
.venv
*.pyo
.venv*
*.spec
*.c
parse-nagios-status
parseNagiosStatus
parseNagiosStatus-cython
parseNagiosStatus-pyinstaller
.attic/
parseNagiosStatus-pyarmor
